.error {
    color: red;
    font-size: 8px;
}

.menu {
    width: 50%;
    border: 1px solid blue;
}

div.img {
    display:table;
    float: right;
    margin-right: 8%;
    margin-top: -1%;
}
div.img img {
    margin:0;
    padding:0;
    width: 160px;
    height: 160px;
    
}
div.img span {
    line-height:normal;
    font-size:11px;
    display:table-footer-group;
    margin:0;
    background:#772626;
    color:white;
    padding:5px;
    text-align:center;
}

img {
    margin:0;
    padding:0;
    width: 160px;
    height: 160px;
}

.correo, th, td {
    border: 1px solid black;
    padding: 2px;
    
}

#dato, td {
    text-align: center !important;
    color: blue;
}

.center, .correo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}


.mensaje {
    vertical-align: top; 
    height:200px; 
    width: 730px; 
    text-align: left;
    color: blue;
}

.modificar {
    border: 0 !important;
}
#fondo
{
    background-color: rgb(4, 92, 30);
}

body{
    font-family: montserrat, arial, verdana;
    background-color: rgb(251, 255, 6);
    height:700px; 
    width: 800px; 
}
#crear {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(247, 4, 4);
}
html {
	position: relative;
	min-height: 100vh;
	background-color: rgb(31, 104, 168);
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
.form-structor {
	background-color: #222;
	border-radius: 15px;
	height: 550px;
	width: 350px;
	position: relative;
	overflow: hidden;
	
}
h2,h1{
    padding:40px;
    font-weight:lighter;
    text-transform:uppercase;
    color:#414141;
  }